# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
dist/

# Notebooks
.ipynb_checkpoints/

# Large ML artifacts
*.faiss
*.pkl
!courses_index.faiss
!courses_metadata.pkl
!resume_index.faiss

# Data (keep only small CSVs if needed)
data/archive-7/

# OS
.DS_Store
